*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(36, 36, 198);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* setup specs for the container */
.container {
    width: 900px;
    max-width: 75%;
    background-color: white;
    font-size: 2rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    gap: 15px;
    justify-content: space-around;
}

/* adjusted the questions line */
#question{
    padding-bottom: 20px;
}

/* setup specs for the buttons */
.btn {
    display: grid;
    gap: 15px;
    font-size: 1.5rem;
    border-radius: 10px;
}

/* added the coloriing to the button if the answer is right */
.correct {
    background-color: green;
}

/* added coloring for if the answer is wrong */
.incorrect {
    background-color: red;
}

.start-btn {
    display: grid;
    gap: 10px;
    border-radius: 10px;
}

#start {
    margin-left: 3rem;
}

#time {
    text-align: center;
}

#high-scores {
    display: grid;
    gap: 10px;
    border-radius: 10px;
    font-size: 1.50rem;
    margin-top: 1rem;
    margin-left: 2.5rem;
}

#next {
    font-size: 1.5rem;
    border-radius: 10px;
    margin-left: 2.5rem;
}

#score {
    text-align: center;
    margin-top: 1rem;
}

#submitButton {
    text-align: center;
    margin-top: 1rem;
}

/* added hide feature */
.hide {
    display: none;
}